* {
	font-family:sans-serif;
	font-size: 12px;
	padding: 0; border: 0; margin: 0; outline: 0;
}

body {
	background: #050505; color: #d3d3d3;
	overflow: hidden;
}

div#motionFpsContainer {
	position: absolute; top: 5px; left: 5px; z-index: 9999;
	background: #161616; color: #e3e3e3;
	border: 1px solid #080808; /*border-top: 0; border-left: 0;*/ border-radius: 3px;
	height: 40px; width: 120px; text-align: center;
	font-weight: normal; font-size: 10px; font-family: "DejaVu Sans Mono";
}
	div#motionFpsContainer p {
		height: 20px; line-height: 20px; width: 120px;
	}
		div#motionFpsContainer p span {
			font-weight: bold;
		}

div.motionWindow {
	background: #0C1116;
	border: 2px solid #000000;
	position: relative;
	/*overflow: hidden;*/
}
	div.motionWindow header {
		background: #161616 url(../image/windowBg.png) repeat-x;
		height: 34px; line-height: 34px;
		padding: 0 8px; overflow: hidden;
		font-weight: bold;
		border-top: 1px solid #232323; border-bottom: 1px solid #030303;
	}
		div.motionWindow header h1 {
			font-size:1.24em;
			color: #d3d3d3;
			margin: 0;
			display: inline; float: left;
		}
	
	div.motionWindow > div {
		padding: 10px;
	}